.card {
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 16px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s ease;
}

.card:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.badge {
  width: 72px;
  height: 72px;
  margin-bottom: 8px;
}

.plus {
  font-size:50px;
  font-weight: bolder;
  color: #999;
  margin-bottom: 4px;
}

.label {
  font-size: 0.85rem;
  color: #333;
  margin-bottom: 0;
}
