.featuresContainer{
    background-color: #fffcf9;
    margin-top: -3rem;
    padding-bottom: 2rem;
}

.featuresSection{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-top: -2rem;
    margin-bottom: 2rem;
    font-size: 3.5rem;
    color: #2E353A;
}

@media (max-width: 1024px) { /* Large tablets and small laptops */
    .featuresSection{
        /* Allow cards to wrap to two rows */
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) { /* Tablet and smaller */
    h1 {
        margin-top: 2rem;
        font-size: 2.5rem; /* Smaller heading */
    }
    .featuresSection{
        /* Stack the cards vertically */
        flex-direction: column; 
        align-items: center; 
        gap: 0; /* Adjust gap when stacked */
    }
}