.featuresContainer{
    background-color: #fffcf9;
    margin-top: -3rem;
    padding-bottom: 4rem;
}

.featuresSection{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-bottom: 2rem;
}

h1 {
    text-align: center;
    margin-top: -2rem;
    margin-bottom: 2rem;
    font-size: 3.5rem;
    color: #2E353A;
}