
.footer{
    display: flex;
    justify-content: center;
    gap: auto;
    background-color: #fffcf9;
    margin: 1.5rem 15rem;
}

.footer .copyRight {
    text-align: center;
    color: #777;
    font-size: 0.8rem;
    padding: 1rem 0;
    margin: 0;
    margin-right: auto;
}

.footer .rightContainer{
    display: flex;
    gap: 12rem;
    margin-left: auto;
    padding: 0;
    margin: 0;
}

.footerLists p{
    cursor: pointer;
}

.socialsLists{
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.socialsLists a{
    cursor: pointer;
}

.socialsLists svg{
    width: 32px;
    height: 32px;
    color: #26547c;
}