.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* behind everything */
  overflow: hidden;

  /* subtle gradient */
   background: radial-gradient(
    circle at 80% 40%,
    rgba(0, 200, 180, 0.3),
    transparent 60%
  ),
  radial-gradient(
    circle at 20% 20%,
    rgba(255, 215, 0, 0.25),
    transparent 70%
  ),
  #fff;

  filter: blur(10px);
}
