.heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    padding: 0 1rem;
}

.heroSection h1{
    width: 90%;
    max-width: 630px;
    font-size: 48px;
    color: #000000;
    text-align: center;
    margin-bottom: 0.5rem;  
}

.heroSection h1 .green{
    color: #06D6A0;
}

.heroSection h1 .blue{
    color: #26547C;
}

.heroSection p {
    max-width: 630px;  
    width: 90%;
    text-align: center;
    color: #666;  
    font-size: 18px;
    line-height: 1.6; 
}

.heroSection .buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: -100px;
    position: relative; 
    z-index: 2;
    flex-wrap: wrap;
    justify-content: center;
}

.heroSection img {
    margin-top: 0.1rem;
    max-width: 900px;
    width: 100%;
    height: auto;
    pointer-events: none;
}

@media (max-width: 768px) {
    .heroSection{
        margin-top: 7rem; 
    }
    .heroSection h1{
        font-size: 32px; /* Smaller font size */
    }
    .heroSection p {
        font-size: 16px; /* Smaller font size */
    }
    .heroSection img {
        width: 95%; /* Make the image a little bigger on tablets */
    }
}

@media (max-width: 480px) { /* Mobile */
    .heroSection{
        margin-top: 3rem;
    }
    .heroSection h1{
        font-size: 24px;
        width: 100%; /* Use full width for title */
    }
    .heroSection p {
        width: 100%; /* Use full width for paragraph */
    }

    .heroSection img{
        margin-top: 3rem;
    }
}