.heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.heroSection h1{
    width: 630px;
    font-size: 48px;
    color: #000000;
    text-align: center;
    margin-bottom: 0.5rem;  
}

.heroSection h1 .green{
    color: #06D6A0;
}

.heroSection h1 .blue{
    color: #26547C;
}

.heroSection p {
    width: 630px;  
    text-align: center;
    color: #666;  
    font-size: 18px;
    line-height: 1.6; 
}

.heroSection .buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: -100px;
    position: relative; 
    z-index: 2;
}

.heroSection img {
    margin-top: 0.1rem;
    width: 900px;
    height: auto;
    pointer-events: none;
}