@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(7, 7, 7, 0.87);
  background-color: #fffcf9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  scroll-behavior: smooth;
}

:target{
  scroll-margin-top: 5.5rem;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  border: none;
  text-decoration: none;
}

button,
a {
  font-family: inherit;
}
